.profile-types-wrapper {
    padding: 20px;
}

.shadow-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

nz-table,
nz-input-group,
nz-select {
    width: 100%;
}

nz-checkbox-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}


::ng-deep .ant-table-thead>tr>th {
    color: white !important;
    font-weight: bold !important;
    background-color: green !important;
}

button[nz-button][nzType="primary"]:hover {
    background-color: orange;
    border-color: orange;
}